@font-face {
  font-family: "Nunito-Bold";
  src: url("../assets/Nunito/Nunito-Bold.ttf"); }

@font-face {
  font-family: "Nunito-Light";
  src: url("../assets/Nunito/Nunito-Light.ttf"); }

@font-face {
  font-family: "Nunito-Regular";
  src: url("../assets/Nunito/Nunito-Regular.ttf"); }

h1 {
  font-size: 3vw;
  font-family: "Nunito-Regular";
  text-align: center;
  background-image: url("../assets/Rectangle_20.svg");
  background-size: 30vw;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 75%;
  margin-top: 0; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

.contact {
  background-color: #fff;
  height: 100vh; }
  .contact__text {
    font-size: 30px;
    font-family: "Nunito-Light";
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: center; }
  .contact__container {
    display: flex;
    height: 80vh; }
    .contact__container__img {
      background-image: url("../assets/contact-img.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom right;
      width: 100%;
      height: 80%;
      margin-left: 10%;
      align-self: flex-end;
      margin-bottom: 0.5vh; }
    .contact__container__form {
      width: 50vw;
      flex-direction: column;
      justify-content: space-between;
      height: 50vh;
      padding-left: 10%;
      display: flex;
      text-align: center;
      margin-top: 18vh; }
      .contact__container__form__input {
        height: 50px;
        color: #909090;
        background-color: #e5e5e5;
        font-family: "Nunito-Light", "sans serif";
        border-style: none;
        font-size: 20px;
        padding-left: 20px;
        margin: 0.5vh 0 0.5vh 0; }
      .contact__container__form__textarea {
        color: #909090;
        background-color: #e5e5e5;
        padding-left: 20px;
        border-style: none;
        font-family: "Nunito-Light", "sans serif";
        border-style: none;
        font-size: 20px;
        margin: 0.5vh 0 0vh 0;
        padding-top: 10px; }
      .contact__container__form__button {
        background-color: #00c9ad;
        border: none;
        margin-top: 2vh;
        width: 10vw;
        height: 4vh;
        border-radius: 10px;
        color: #fff;
        font-size: 20px;
        align-self: center; }

footer {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
  background-color: #c4c4C4;
  color: #fff;
  font-family: "nunito", "abril"; }

footer p {
  margin: 0;
  padding: 20px 0 20px 10px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center; }

footer p img {
  height: 40px;
  padding-right: 5px; }

.info {
  width: 50%;
  border-right: #fff 0.1rem solid; }

.socialNetwork {
  justify-content: space-between;
  padding: 20px;
  gap: 10%; }

.socialNetwork img {
  padding: 0 40px 0 20px; }

footer {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
  background-color: #c4c4C4;
  color: #fff;
  font-family: "nunito", "abril"; }

footer p {
  margin: 0;
  padding: 20px 0 20px 10px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center; }

footer p img {
  height: 40px;
  padding-right: 5px; }

.info {
  width: 50%;
  border-right: #fff 0.1rem solid; }

.socialNetwork {
  justify-content: space-between;
  padding: 20px;
  gap: 10%; }

.socialNetwork img {
  padding: 0 40px 0 20px; }

.homePage {
  min-height: 100vh; }

header {
  display: flex;
  align-items: center; }

.egurLogo {
  background-image: url("../assets/logo_final.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20vw;
  height: 20vh;
  margin: 2vh 0 0 2vw; }

.navHomePage ul {
  display: flex;
  justify-content: center; }

.navHomePage li {
  list-style: none;
  color: #fff;
  margin: 0 3rem 0 2rem;
  display: flex;
  align-items: center; }

.navHomePage a {
  font-family: "Nunito-Bold", sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  text-align: center; }

.navHomePage {
  margin-left: 20vw; }

#history {
  background-color: #fff;
  height: 100vh; }

#histoire h1 {
  font-size: 3vw;
  font-family: "Nunito-Regular";
  text-align: center;
  background-image: url("../assets/Rectangle_20.svg");
  background-size: 25vw;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 75%; }

.histoireText {
  font-size: 30px;
  font-family: "Nunito-Light";
  margin-left: 3vw;
  margin-right: 3vw; }

#teamPicture {
  background-image: url("../assets/team exemple.jpeg");
  background-size: cover;
  width: 650px;
  height: 350px;
  background-position-x: -100px;
  background-repeat: no-repeat; }

.teamContainer {
  display: flex;
  justify-content: space-around; }

.teamSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-area: 1 / 4 / 3 / 2;
  height: 20vh; }

.teamSection h3 {
  grid-area: 1 / 3 / 2 / 1;
  text-align: left;
  font-size: 28px;
  font-family: "Nunito-Regular", sans-serif; }

.teamCard {
  font-size: 24px;
  font-family: "Nunito-Light", sans-serif; }

.bgVideo {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1; }

.baseline {
  color: #fff;
  font-family: "Nunito-Regular", sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-left: 2vw; }

.conceptScroll {
  color: #fff;
  font-family: "Nunito-Regular", sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 40vh; }

.arrowContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  height: 3vh; }

.nav2 {
  background-color: #f1f1f1;
  border-bottom-width: 3px;
  border-bottom-color: black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.75);
  width: 100vw; }
  .nav2__logo {
    background-image: url("../assets/logo_final_black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 6.3vw;
    height: 6.3vh;
    margin: 2vh 0 0 2vw; }
  .nav2__menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none; }
    .nav2__menu__list__item {
      list-style: none;
      text-decoration: none;
      color: black;
      margin: 0 3rem 0 2rem;
      align-items: center; }
      .nav2__menu__list__item__title {
        font-family: "Nunito-Bold", sans-serif;
        font-size: 24px;
        text-decoration: none;
        color: black;
        text-align: center; }
