body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../assets/wp_homepage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 65%;
  }