
.concept{
    height: 100vh;
    background-color: $secondColor;
    padding-top: 10vh;

    &__quote {
        text-align: center;

        &__author{
            font-style: oblique;
        }
    }

    &__philosophy{
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 10vw 10vw;
        margin : 20px auto;

        &__realisation{
            grid-row: 1/3;
            display: flex;
            flex-direction: column;
            background-image: url("assets/Vector2.png");
        }

        &__respect {
            margin: auto;
            background-image: url("assets/Vector1.png");
        }

        &__wood{   
            margin: auto;
        }

        
        &__img{
            height: 10vh;
            width: 10vw;

            &--leaf{
                grid-column: 2/3;
                grid-row: 1/3;
                margin: auto;
            }
            &--customize{
                margin: auto;
            }
    
            &--local{
                margin: auto;
            }
        }

    }
}