
.concept{
    height: 120vh;
    background-color: $secondColor;
    padding-top: 10vh;
    font-family: "Nunito-Regular";

    &__quote {
        font-family: "Nunito-Regular";
        font-size: 30px;
        text-align: center;
        &__author{
            font-style: oblique;
        }
    }

    &__ourPhilosophy{
        &__vector2{
            position: absolute;
        }
    
        &__vector1{
            position: absolute;
            }
    
        &__vector3{
            position: absolute;
        }

        &__philosophy{
            display: grid;
            font-family: "Nunito-Regular";
            font-size: 30px;
            justify-content:space-between ;
            grid-template-columns: 35% 15% 15% 35%;
            grid-template-rows: 15vw 15vw;

            &__realisation{
                align-self: center;
                grid-row: 1/3;
            }
    
            // &__respect {
            //     align-self: center;
            // }
    
            // &__wood{   
            //     align-self: center;
            
            &__img{
    
                &--leaf{
                    align-self: center;
                    height: 10vh;
                    width: 10vh;
                    grid-column: 2/3;
                    grid-row: 1/3;
                }
                &--customize{
                    align-self: center;
                    height: 10vh;
                    width: 10vh;
                }
                &--local{
                    align-self: center;
                    height: 10vh;
                    width: 10vh;
                }
            }
        }
    }
}