.footer{
    display: inline-flex;
    bottom: 0;
    width: 100%;
    background-color: $footerColor;
    color: $secondColor;
    font-family: "Nunito-Bold";

    &__info{
        display: grid;
        grid-template-columns: 10% 20% 10% 20% 10% 25%;
        align-items: center;
        width: 70%;
        border-right: $secondColor 0.2rem solid;
        
            &__logo{
                justify-self: right;
                justify-items: right;
            }
    }

    &__socialNetwork{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            width: 40%;
    
        &__image {
            padding: 0 40px 0 40px;
        }
    }
}