header {
    display: flex;
    align-items: center;
  }

  .homePage {
    min-height: 100vh;
  }

.egurLogo {
    background-image: url("./assets/logo_final.svg");
    width: 282px;
    height: 174px;
    margin: 38px 0 0 46px;
  }
  ul {
    display: flex;
    justify-content: center;
  }
  
  li {
    list-style: none;
    color: #fff;
    margin: 0 3rem 0 2rem;
  
    display: flex;
    align-items: center;
  }
  
  a {
    font-family: "Nunito-Bold", sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    text-align: center;
  }
  
  .navHomePage {
    margin-left: 20vw;
  }
  