.baseline {
  color: #fff;
  font-family: "Nunito-Regular", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin-left: 2vw;
}

.conceptScroll {
  color: #fff;
  font-family: "Nunito-Regular", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 20rem;
}

.arrowContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  height: 3vh;
}
