
.baseline {
    color: #fff;
    font-family: "Nunito-Regular", sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-left: 46px;
  }
  
  .conceptScroll {
    color: #fff;
    font-family: "Nunito-Regular", sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 350px;
  }
  
  .arrowContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    // @media screen and (max-width:900px ) { 
    //   height: 3px;
    // }
  }
  