.nav2 {
  background-color: rgb(255, 255, 255);
  opacity: 0.94;
  border-bottom-width: 3px;
  border-bottom-color: black;
  display: none;
  justify-content: space-between;
  margin-bottom: 0;
  box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.75);
  width: 100vw;

  &__logo {
    background-image: url("../assets/logo_final_black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 6vw;
    height: 6vh;
    margin: 1vh 0 0 1vw;
  }

  &__menu {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      padding: 0;

      &__item {
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
        min-width: 200px;

        &:hover {
          background-color: rgb(120, 120, 120);
          color: white;
        }

        &__title {
          font-family: "Nunito-Bold", sans-serif;
          font-size: 1rem;
          text-decoration: none;
          color: rgb(0, 0, 0);
          text-align: center;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
