*{
    margin: 0;
}

:root {
    --footerColor : #c4c4C4;
    --secondColor : #fff;
    --fontFamily : "nunito", "abril";
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    background-color: var(--footerColor);
    color: var(--secondColor);
    font-family:var(--fontFamily);
    border-right: pi;
}

footer p{
    margin: 0;
    padding: 20px 0 20px 10px ;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

footer p img{
    height: 40px;
    padding-right: 5px;
}

.info {
    width: 50%;
    border-right: var(--secondColor) 0.1rem solid;
}

.socialNetwork{
    justify-content: space-between;
    padding: 20px;
    gap: 10%;
}

.socialNetwork img {
    padding: 0 40px 0 20px;
}