/* #histoire{
    display: grid;
    grid-template-columns: 2;
} */

.teamContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    position: relative;
}

.teamContainer img {
    position: absolute;
    left: -10px;
}
.teamSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-area: 1 / 4 / 3 / 2;
}

.teamSection h3 {
    grid-area: 1 / 3 / 2 / 1;
    text-align: center;
}

img {
    max-width: 300px;

}